*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#app,
.app {
    position: relative;
}

html {
    font-weight: 400;
    font-family: var(--font-main);
}

body::before {
    content: '';
    background: var(--gradient-main);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.app {
    min-height: 100vh;
}

.container {
    max-width: var(--max-container-width);
    padding: 0 var(--space-n);
    margin: 0 auto;
    width: 100%;
}