*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-weight: 400;
    font-family: var(--font-main);
}

.app {
    min-height: 100vh;
}

.container {
    max-width: var(--max-container-width);
    padding: 0 var(--space-n);
    margin: 0 auto;
    width: 100%;
}