:root {
    --color-black: #313341;
    --color-dark-gray: #9A938C;
}

:root {
    --space-xxs: 0.4rem;
    --space-xs: 0.8rem;
    --space-s: 1.2rem;
    --space-n: 1.6rem;
    --space-m: 2rem;
    --space-l: 2.4rem;
}

:root {
    --radius-xxs: 0.2rem;
    --radius-xs: 0.4rem;
    --radius-s: 0.6rem;
    --radius-n: 0.8rem;
    --radius-m: 1rem;
    --radius-l: 1.2rem;
    --radius-xl: 1.6rem;
    --radius-xxl: 2rem;
}

:root {
    --gradient-main: linear-gradient(120deg, #FEE3BC 23.22%, #F39876 99.52%);
}

:root {
    --size-xxs: 0.4rem;
    --size-xs: 0.6rem;
    --size-s: 0.8rem;
    --size-n: 1rem;
    --size-m: 1.2rem;
    --size-l: 1.4rem;
    --size-xl: 1.6rem;
    --size-xxl: 1.8rem;
    --size-xxxl: 2rem;
    --size-b: 2.4rem;
    --size-xb: 2.8rem;
    --size-xxb: 3.2rem;
    --size-xxxb: 3.6rem;
    
    --lh-xxs: 0.8rem;
    --lh-xs: 1rem;
    --lh-s: 1.2rem;
    --lh-n: 1.4rem;
    --lh-m: 1.6rem;
    --lh-l: 1.8rem;
    --lh-xl: 2rem;
    --lh-xxl: 2.2rem;
    --lh-xxxl: 2.4rem;
    --lh-b: 3.2rem;
    --lh-xb: 3.6rem;
    --lh-xxb: 4rem;
    --lh-xxxb: 4.4rem;
}

:root {
    --container-width: 1440px;
    --max-container-width: calc(var(--container-width) + var(--space-n));
}

:root {
    --font-main: "Inter", sans-serif;
}